<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header [translucent]="true">
    <div class="logo">
      <ion-toolbar>
        <ion-label>Explore</ion-label>
        <ion-searchbar placeholder="writer name ..."> </ion-searchbar>
      </ion-toolbar>
    </div>

  </ion-header>
  <div class="categories">
    <div class="categ-see-more">
      

    </div>
    <div class="ionchip-btn">
      <h2>All Categories</h2>
      <ion-chip>

        <ion-icon name="person-outline" color="medium"></ion-icon>
        <ion-label>Business</ion-label>

      </ion-chip>
      <ion-chip>

        <ion-icon name="person-outline" color="medium" ></ion-icon>
        <ion-label>Personal</ion-label>

      </ion-chip>
      <ion-chip>
        <ion-icon  name="play-circle-outline" color="medium" ></ion-icon>
        <ion-label>Music</ion-label>

      </ion-chip>
      <ion-chip>

        <ion-icon name="camera-outline" color="medium" ></ion-icon>
        <ion-label>Photography</ion-label>

      </ion-chip>
    </div>
  </div>
  <div class=" latest-search">
    <div class="sliders-ls">
      <h2>Latest Search</h2>
      <ion-slides>
          <ion-slide>
            <div class="slide-cnt">
          <ion-img src="../../assets/searchimage.png" ></ion-img>
            <ion-card-title>To The Sun </ion-card-title>
            </div>
              <div class="slide-cnt">
          <ion-img src="../../assets/new.png" ></ion-img>
            <ion-card-title>Print Money Legally </ion-card-title>
            </div>
            <div class="slide-cnt">
              <ion-img src="../../assets/searchimage.png" ></ion-img>
                <ion-card-title>Psychology Money </ion-card-title>
                </div>
          </ion-slide>
      </ion-slides>
    </div>
  </div>


  <div class=" latest-search">
  
    <div class="sliders-ls">
      <h2>Business Search</h2>
      <ion-slides>
          <ion-slide>
            <div class="slide-cnt">
          <ion-img src="../../assets/sun.png" ></ion-img>
            <ion-card-title>To The Sun </ion-card-title>
            </div>
              <div class="slide-cnt">
          <ion-img src="../../assets/sun.png" ></ion-img>
            <ion-card-title>Print Money Legally </ion-card-title>
            </div>
            <div class="slide-cnt">
              <ion-img src="../../assets/searchimage.png" ></ion-img>
                <ion-card-title>Psychology Money </ion-card-title>
                </div>
          </ion-slide>
      </ion-slides>
    </div>
  </div>

</ion-content>